/* * {
  margin: 0;
  padding: 0;
} */
/* .slider {
  margin: 0 0 50px;
}
.slider img {
  width: 100%;
  height: auto;
  /* display: flex; */

*{
  background-color: black;
}
.slider{
  
  /* width: 100%; */
  /* margin: 0 auto 10px; */
}
.slider img:hover {
  opacity: 0.7;
}

.slide-img{
  width: 100%;
  padding: 1px;
}

.slider2 {
  margin: auto;
}
/* // .slider { padding: 0;}
// .slider img { width: 100%;}
// .slider div { margin: 0 5px;}
// .slider .slick-next { right: 17px;　z-index: 100;}
// .slider .slick-prev { left: 23px; z-index: 100;}

// .slide-dots {
//   text-align: center;
//   color: white;
//   display: inline-block;
// } */
