/* * {
  margin: 0;
  padding: 0;
} */
/* .slider {
  margin: 0 0 50px;
}
.slider img {
  width: 100%;
  height: auto;
  /* display: flex; */

*{
  background-color: black;
}
.slider img:hover {
  opacity: 0.7;
}
.slide-img{
  width: 100%;
  padding: 1px;
}

.slider2 {
  margin: auto;
}

/*選択した画像を上部に表示するクラス*/
.thumbnail { 
  width: 300px;
  margin: auto;
}
.thumbnail-thumb {
  height: 50px;
  /* width: 100%; */
  margin: auto;
}
/* .thumbnail img {
  height: 50px;
} */

/* .thumbnail { max-width: 500px; margin: 0 auto 5px; padding: 0;} */
/* .thumbnail img,.thumbnail-nav img{ width: 100%;} */
/* .thumbnail-thumb { max-width: 500px; margin: 0 auto;} */
/* .thumbnail-thumb li { margin: 5px;} */
.thumbnial-thumb .slick-next { right: 200px; z-index: 100;}
.thumbnail-thumb .slick-prev { left: 200px; z-index: 100;}
.thumbnail-thumb .slick-current { opacity: 0.5;}
.thumbnail-thumb div div div { cursor: pointer;}